<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/custom/css/default.css" rel="stylesheet">
<link href="/custom/css/bootstrap-timepicker.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
  </head>
<body class="bg-light">

<main class="d-flex flex-nowrap">

<!-- Sidebar -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <!--
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      -->
      <img src="/assets/route66.png" alt="" width="32" height="32" >
      <span class="fs-4"> ICE As A Service</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link text-white">
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Dashboard
        </a>
      </li>
      <li>
        <a href="/form" class="nav-link active" aria-current="page">
          Cadastrar
        </a>
      </li>
      <li>
        <a href="/consultar" class="nav-link text-white">
          Consultar
        </a>
      </li>
      <li>
        <a href="/about" class="nav-link text-white">
          Sobre
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="/login" class="d-flex align-items-center text-white text-decoration-none" aria-expanded="false">
        <strong>Login</strong>
      </a>
  </div>

</div>

<div class="col p-3">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastramento</li>
    </ol>
  </nav>

  <hr class="my-4">
<div class="container">



<div class="py-3 text-center">
  <img class="d-block mx-auto mb-4" src="/assets/route66.png" alt="" width="72" height="57">
  <h2>Manutenção de transação no ICE</h2>
  <p class="lead">Tela admin para cadastramento, manutenção e exclusão de transações do ICE.</p>
</div>

<div class="row g-5">
  <form class="needs-validation" novalidate>
    <div class="row g-3">

      <div class="col-md-3">
        <label for="tran" class="form-label">Transação</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="tran" minlength="4" maxlength="4" style="text-transform: uppercase;" placeholder="DTTT" required>
        <div class="invalid-feedback">
            Transação Obrigatoria (4 caracteres).
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="username" class="form-label">Usuario Exec</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="username" maxlength="8" style="text-transform: uppercase;" placeholder="CISIMRA" required>
        <div class="invalid-feedback">
            Your username is required.
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label for="hora_inicio" class="form-label">Hora Inicio</label>
        <div class="input-group">
          <span class="input-group-text"><img class="" src="/assets/white-clock-icon.png" width="20" height="20"></span>
          <input type="text" class="form-control" id="hora_inicio" minlength="5" maxlength="5" placeholder="00:00">
        </div>
      </div>

      <div class="col-md-3">
        <label for="hora_fim" class="form-label">Hora Fim</label>
        <div class="input-group">
          <span class="input-group-text"><img class="" src="/assets/white-clock-icon.png" width="20" height="20"> </span>
          <input type="text" class="form-control" id="hora_fim" minlength="5" maxlength="5" placeholder="23:59">
        </div>
      </div>

      <div class="col-md-12">
        <label for="descricao" class="form-label">Descrição <span class="text-muted">(Optional)</span></label>
        <input type="text" class="form-control" id="descricao" maxlength="40" style="text-transform: uppercase;" placeholder="Transação de teste">
      </div>

      <div class="col-md-4">
        <label for="freq" class="form-label">Executar a cada</label>
        <input type="text" class="form-control" id="freq" maxlength="10" placeholder="5" required>
        <div class="invalid-feedback">
          Preencher a Frequencia de execução.
        </div>
      </div>

      <div class="col-md-4">
        &nbsp;
        <div class="form-check">
          <input id="seconds" name="paymentMethod" type="radio" class="form-check-input" checked required>
          <label class="form-check-label" for="credit">Segundos</label>
        </div>
        <div class="form-check">
          <input id="minutes" name="paymentMethod" type="radio" class="form-check-input" required>
          <label class="form-check-label" for="debit">Minutos</label>
        </div>
      </div>

    <div class="col-md-4">
      &nbsp;
      <div class="form-check form-switch">
        <label class="form-check-label" for="allday">Executar o dia todo</label>
        <input type="checkbox" class="form-check-input" id="allday">
      </div>
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" id="retry">
        <label class="form-check-label" for="retry">Retry apos Abend</label>
      </div>
    </div>

    <h4 class="mb-3">Dias de Execução</h4>

    <div class="col-md-12">
      <div class="form-check form-switch">
        <label class="form-check-label" for="everyday">Todos os dias</label>
        <input type="checkbox" class="form-check-input" onclick="checkDay()" id="everyday">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-check form-switch form-check-inline">
        <input type="checkbox" class="form-check-input" id="domingo">
        <label class="form-check-label" for="domingo">Domingo</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input type="checkbox" class="form-check-input" id="segunda">
        <label class="form-check-label" for="segunda">Segunda</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input type="checkbox" class="form-check-input" id="terca">
        <label class="form-check-label" for="terca">Terça</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input type="checkbox" class="form-check-input" id="quarta">
        <label class="form-check-label" for="quarta">Quarta</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input type="checkbox" class="form-check-input" id="quinta">
        <label class="form-check-label" for="quinta">Quinta</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input type="checkbox" class="form-check-input" id="sexta">
        <label class="form-check-label" for="sexta">Sexta</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input type="checkbox" class="form-check-input" id="sabado">
        <label class="form-check-label" for="sabado">Sabado</label>
      </div>
    </div>

    <div class="col-12">
      <label for="entry_data" class="form-label">Dados de entrada <span class="text-muted">(Optional)</span></label>
      <textarea class="form-control" id="entry_data" style="text-transform: uppercase;" maxlength="200" placeholder="teste"></textarea>
    </div>

  </div>

  <hr class="my-4">
  <dl class="row">
    <dt class="col-sm-4">Ultima Alteração por</dt>
    <dd class="col-sm-8">
      $802996
      as 05/10/2022 12:30:00
    </dd>
  </dl>

  <hr class="my-4">

  <div class="row g-3">

    <div class="col-md-4">
        <button class="w-100 btn btn-danger btn-lg" type="submit">Deletar</button>
    </div>
    <div class="col-md-4">
    <div class="d-grip gap-2 mx-auto">
    </div>
    </div>
    <div class="col-md-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Alterar</button>
    </div>

    <div class="col-md-12">
      <p></p>
    </div>
  </div>

  </form>
</div>

</div>
</div>
</main>



<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
  function checkDay(){
    let checkboxMain = document.getElementById("everyday");

    let checkbox1 = document.getElementById("domingo");
    let checkbox2 = document.getElementById("segunda");
    let checkbox3 = document.getElementById("terca");
    let checkbox4 = document.getElementById("quarta");
    let checkbox5 = document.getElementById("quinta");
    let checkbox6 = document.getElementById("sexta");
    let checkbox7 = document.getElementById("sabado");

    checkbox1.checked = checkboxMain.checked;
    checkbox2.checked = checkboxMain.checked;
    checkbox3.checked = checkboxMain.checked;
    checkbox4.checked = checkboxMain.checked;
    checkbox5.checked = checkboxMain.checked;
    checkbox6.checked = checkboxMain.checked;
    checkbox7.checked = checkboxMain.checked;

  }
</script>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

</body>
</html>
